<h1>Servicios</h1>
<p>Find me in app/views/services/index.html.erb</p>

<div class="container-fluid">
  <div class="card-product">
  <img src="https://images.pexels.com/photos/6195273/pexels-photo-6195273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
  <div class="card-product-infos">
      <h2>Limpieza</h2>
      <p>Hay algo que necesites limpiar pero no tienes tiempo?, no te preocupes! <strong>relevant info</strong> only.</p>
      <button type="button" class="btn btn-view">Ver</button>
  </div>
  </div>
</div>
<p></p>
<div class="container-fluid">
  <div class="card-product">
  <img src="https://images.pexels.com/photos/6195953/pexels-photo-6195953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-product-infos">
      <h2>Sanitización</h2>
      <p>Desinfectar, sanitizar, tratamiento de plagas y más! <strong>relevant info</strong> only.</p>
      <button type="button" class="btn btn-view">Ver</button>
  </div>
  </div>
</div>
<p></p>
<div class="container-fluid">
  <div class="card-product">
  <img src="https://images.pexels.com/photos/1108101/pexels-photo-1108101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
  <div class="card-product-infos">
      <h2>Mantenimiento</h2>
      <p>Necesitas hacerle mantenimiento a tu vehículo o arreglar algún artefacto? eso y más podrás encontrar aquí <strong>relevant info</strong> only.</p>
      <button type="button" class="btn btn-view">Ver</button>
  </div>
  </div>
</div>
