<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
      <th scope="col">Price</th>
      <th scope="col">Tiempo de ejecución</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @services.each do |servicio| %>
    <tr>
      <th scope="row"><%= servicio.title %></th>
      <td><%= servicio.description %></td>
      <td><%= servicio.price %></td>
      <td><%= servicio.execution_time %></td>
      <td>Editar</td>
      <td>Eliminar</td>
    </tr>
  </tbody>
  <% end %>
</table>