// Specific CSS for your home-page
body.home {

  background: #fbf3f0 /*#edf2f4*/;
  background-image: none;
 
}

#benefits{
  h3, .card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3em;
  }
  .d-flex {
    background: $yellow;
    padding-top:0 ;
  }
  .card-body{
    padding: 2.2em;
  }
  p.card-text{
    margin-right: 0.4em;
    font-size: 1.2em;
  }
  .card-block :hover{
    background-color: darken($yellow, 10%);
  }

}


.card-category:hover{
  animation: shrink  4s linear infinite;
  cursor: pointer
}

@keyframes shrink {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}

@media (max-width: 767px) {
    .carousel2 .carousel-item > div {
        display: none;
    }
    .carousel2 .carousel-item > div:first-child {
        display: block;
    }
}

.carousel2 .carousel-item.active,
.carousel2 .carousel-item-next,
.carousel2 .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel2 .carousel-item-end.active,
    .carousel2 .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel2 .carousel-item-start.active, 
    .carousel2 .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel2 .carousel-item-end,
.carousel2 .carousel-item-start { 
  transform: translateX(0);
}