
<div class="container">
<% if current_user.id != @service.user_id%>
    <h1>Compra de servicio: <%= @service.title %> </h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Estás pagando en DEEP</h4>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <p><h3><%=number_to_currency(@service.price, :precision => 0, :delimiter => ".")%></h3></p>
          </div>
          <div class="col">

          </div>
        </div>
      </div>
    <%= simple_form_for [@service, @book] do |form| %>
     
      <%= form.button :submit %>
    <% end %>
  </div>
<% else %>
    <h1> ¡No puedes comprar tus propios servicios! </h1>

<% end %>
</div>