<div class="footer">
  <footer class="footer-links mx-auto">
    <a href="https://github.com/tahiacampos/deep"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/getdeep.cl/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </footer>
  <footer class="mx-auto">
    <p class="text-center">© Deep Clean 2021 <i class="fas fa-heart"></i> - Todos los derechos reservados</p>
  </footer>
</div>
