// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  border-radius: 10px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFBA00;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #7B438C;
  color: white;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}