.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.bg-secondary {
  background-color: #292929 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.autocomplete {
  display: block;
  // left: 0px;
  top: 3rem;
  // width: 500px;
  position: absolute;
  list-style: none;
  padding: 5;
  margin: 5;
  z-index: 99;

  li {
    padding: 1rem;
  }

}

.btn-flat2 {
  color: white;
  padding: 2px 10px;
  border-radius: 4px;
  background: #292929;
}

.btn-flat2:hover {
  background: #FFBA00;
  color: #292929;
}

.btn-black {
  color: white;
}
.btn-black:hover {
  color: #d3d3d2;
}