// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Generales
@import "mapbox-gl/dist/mapbox-gl";

.sticky-bottom{
  
  position: -webkit-sticky;
  position: sticky;
  bottom: 1.6em;
  left: 90vw;
  background-color: #FFB902;
  height: 3em;
  width: 3em;
  font-size: 20px;
}
